<!DOCTYPE html>
<html
  lang="en"
  th:fragment="parent(content, title)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" data-th-href="@{/output.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- Front Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    />

    <title th:replace="${title}">Base page</title>
  </head>
  <body>
    <!-- header -->
    <div th:replace="~{navber :: navber}"></div>
    <!-- main content -->
    <div>
      <section th:replace="${content}"></section>
    </div>
    <!-- footer -->

    <p>&copy; 2023 My Contact. All rights reserved.</p>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
  </body>
</html>
