<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{ ::#content}, ~{::title})}">
  <head>
    <title>Home page</title>
  </head>
  <body>
    <div id="content">
      <h1>This is Home page</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem earum
        assumenda temporibus, voluptatibus sint vel officia cum molestiae
        dolorem nostrum magni omnis debitis. Expedita eius unde enim quo
        adipisci. Ut asperiores in, eius unde nemo iste eveniet. Quos sequi
        molestiae porro voluptatibus. Impedit optio laboriosam, ut magnam quidem
        sit mollitia.
      </p>
      <p>We are committed to providing the best service possible.</p>
    </div>
  </body>
</html>
